html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1px auto auto 1px;
  grid-template-rows: 35px 400px auto;
}

.top-div {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
}

.title-font {
  font-family: 'Major Mono Display', monospace;
  font-size: 35px;
  text-align: center;
}

h4 {
  font-family: 'Roboto Mono', monospace;
}

#map {
  height: 100%;
  width: 100%;
}

.item-a {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-b {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: red;
  border-radius: 5px;
}

.item-c {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: aqua;
}

.item-d {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: peachpuff;
}

.item-e {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: blueviolet;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}