html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  grid-template-columns: 20px auto auto 10px;
  grid-template-rows: 45% auto;
}

.title {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: row1-start;
  grid-row-end: 2;
}

.vertical {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#map {
  height: 100%;
  width: 100%;
}

.map_location {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}